.header-container.wrapper
  a.action-nav-item(href="/" class="brand")="MadnessGaming"
  nav.nav
    if profile
      button(class="nav-button-mobile")="Menu"
      ul(class="nav-container-horizontaly")
        if profile
          li(class="nav-item")
            a.action-nav-item(href="/morpion")="Morpion"
          li(class="nav-item")
            a.action-nav-item(href="/tetris")="Tetris"
          li(class="nav-item")
            a.action-nav-item(href="/snake")="Snake"
          li(class="nav-item")
            a.action-nav-item(href="/poker")="Poker"
      ul(class="nav-container-horizontaly")
        li(class="nav-item")
          a.action-nav-item(href="/profile")="My profile"
        li(class="nav-item")
          a.action-nav-item(onclick="Account.events.logoutWeb()")="Disconnect"
    else
      ul(class="nav-container")
        li(class="nav-item")
          a.action-nav-item(onclick="Account.login()")="Connection"
